---
layout: default
---

<div class="uk-section">
    <div class="uk-container uk-container-small">

        <article class="uk-article">

            <h1 class="uk-article-title">{{ page.title | escape }}</h1>

            <div class="uk-article-content">
                {{ content }}
            </div>

        </article>
        
        <!--Place the code below where you want the link to be displayed-->
        <!--rot13.florianbersier.com-->

        <span id="obf"><script>document.getElementById("obf").innerHTML="<n uers=\"znvygb:fhccbeg@nepnarolgr.pbz?fhowrpg=Vagrerfg va NepnarOlgr\" gnetrg=\"_oynax\">fhccbeg@nepnarolgr.pbz</n>".replace(/[a-zA-Z]/g,function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);});document.body.appendChild(eo);</script>
        <noscript><span style="unicode-bidi:bidi-override;direction:rtl;">moc.etybenacra@troppus</span></noscript></span>

    </div>
</div>
